<div id="c-circle-nav" class="c-circle-nav">
  <button id="c-circle-nav__toggle" class="c-circle-nav__toggle">
    <div class='offchat-menu'>
      <svg class='svg-1' viewBox='0 0 32 32'><path d='M16,3A13,13,0,0,0,4.53,22.13L3,27.74a1,1,0,0,0,.27,1A1,1,0,0,0,4,29a.84.84,0,0,0,.27,0l5.91-1.65a1,1,0,0,0-.53-1.93L5.42,26.56l1.15-4.3a1,1,0,0,0-.1-.76A11,11,0,1,1,16,27a11.23,11.23,0,0,1-1.84-.15,1,1,0,0,0-1.15.82,1,1,0,0,0,.82,1.15A13,13,0,1,0,16,3Z'></path></svg>
      <svg class='svg-2' viewbox='0 0 512 512'>
        <path d='M278.6 256l68.2-68.2c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-68.2-68.2c-6.2-6.2-16.4-6.2-22.6 0-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3l68.2 68.2-68.2 68.2c-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3 6.2 6.2 16.4 6.2 22.6 0l68.2-68.2 68.2 68.2c6.2 6.2 16.4 6.2 22.6 0 6.2-6.2 6.2-16.4 0-22.6L278.6 256z'></path>
      </svg>
    </div>
  </button>
  <ul class="c-circle-nav__items">
    <li class="c-circle-nav__item">
      <a href="mailto:fmiyare@gmail.com?subject=I'M%20HIRING!&body=Greetings!%20I'm%20looking%20forward%20to%20working%20with%20you.." target="_blank" rel="noopener noreferrer" class="c-circle-nav__link">
        <img class="svg2" src="/svg/arroba-svgrepo-com.svg" alt="email" />
      </a>
    </li>
      
    <li class="c-circle-nav__item">
      <a href='https://api.whatsapp.com/send?phone=254712679390&text=Hey,%20hello!%20I%20need%20help%20with%20a%20project.' rel='nofollow noreferrer' target='_blank' class="c-circle-nav__link">
        <img class="svg2" src="/svg/whatsapp-svgrepo-com.svg" alt="whatsapp" />
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="/contact" class="c-circle-nav__link">
        <img class="svg2" src="/svg/pin-svgrepo-com.svg" alt="pin" />
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="tel:+254712679390" target="_blank" rel="noopener noreferrer" class="c-circle-nav__link">
        <img class="svg2" src="/svg/telephone-svgrepo-com.svg" alt="tel" />
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="/faq" class="c-circle-nav__link">
        <img class="svg2" src="/svg/faq-svgrepo-com.svg" alt="" />
      </a>
    </li>
    
    <!-- more items here -->
  </ul>
</div>
