<footer>
  <div class="container">
    <div class="row">
      <div class="header__logo">
        <a href="/">
          <img
            srcset="./image/logo_tutot.png"
            src="./image/logo_tutot.png"
            alt="Logo"
            width="50"
          /><span>Tutor</span>
        </a>
      </div>
      <div class="socials">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/fenton-miyare-89125696"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="svg"
                srcset="./svg/icon/linkedin.svg"
                src="./svg/icon/linkedin.svg"
                alt="LinkedIn"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/fenton.miyare"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="svg"
                srcset="./svg/icon/facebook.svg"
                src="./svg/icon/facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
          <li>
            <a
              href="https://pin.it/1bNhsnF"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="svg"
                srcset="./svg/icon/pinterest.svg"
                src="./svg/icon/pinterest.svg"
                alt="Pinterest"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="author">
        <p>Created by <a id="auth" href="/">Fenton Visual Learners</a></p>
      </div>
    </div>
  </div>
</footer>
