<nav class="nav">
  <div class="nav__container">
    <div class="header__logo">
      <a href="javascript:void(0)">
        <img srcset="./image/logo_tutot.png" src="./image/logo_tutot.png" alt="Logo" width="50"><span>Tutor</span>
      </a>
    </div>
    <div class="navitem__container">
      <div class="nav__content">
        <ul class="nav__list" role="list">
          <li class="nav__item">
            <a href="/" aria-current="page">HOME</a>
          </li>
          <li class="nav__item">
            <a href="/project">PROJECT</a>
          </li>
          <li class="nav__item">
            <a href="/about">ABOUT</a>
          </li>
          <li class="nav__item">
            <a href="/contact">CONTACT</a>
          </li>
          <li class="nav__item">
            <a href="/faq">FAQ's</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hamburger">
      <label class="hamburger-menu">
        <input type="checkbox" name="menu" class="menu-opener" />
        <div class="hamburger-menu__line --top-line"></div>
        <div class="hamburger-menu__line --middle-line"></div>
        <div class="hamburger-menu__line --bottom-line"></div>
      </label>
    </div>
  </div>
</nav>
