<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="css/service.css">
</head>

<body>
  <!-- Project -->
  <div class="content-width">
    <div class="slideshow">
      <div class="back">
        <button type="button" role="button">
          <img class="svg1" src="/svg/left-arrow-svgrepo-com (1).svg" alt="" />
        </button>
      </div>
      <!-- Slideshow Items -->
      <div class="slideshow-items">
        <div class="item">
          <div class="item-image-container">
            <!--img class="item-image" src="https://i.pinimg.com/564x/23/a4/86/23a4860b8b70b1eb27f2791b97aaee8e.jpg" /-->
            <img class="item-image" src="/svg/webdesign.svg" alt="" />
          </div>
          <!-- Staggered Header Elements -->
          <h1 class="item-header">
            <span class="vertical-part"><b>U</b></span>
            <span class="vertical-part"><b>I</b></span>
            <span class="vertical-part"><b>&#47;</b></span>
            <span class="vertical-part"><b>U</b></span>
            <span class="vertical-part"><b>X</b></span>
            <span class="vertical-part"><b>&nbsp;</b></span>
            <span class="vertical-part"><b>D</b></span>
            <span class="vertical-part"><b>e</b></span>
            <span class="vertical-part"><b>s</b></span>
            <span class="vertical-part"><b>i</b></span>
            <span class="vertical-part"><b>g</b></span>
            <span class="vertical-part"><b>n</b></span>
          </h1>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part">
              <b>Your</b>
            </span>
            <span class="vertical-part">
              <b>mobile</b>
            </span> 
            <span class="vertical-part">
              <b>app</b>
            </span>
            <span class="vertical-part">
              <b>&</b>
            </span> 
            <span class="vertical-part">
              <b>web</b>
            </span>
            <span class="vertical-part">
              <b>presence,</b>
            </span> 
            <span class="vertical-part">
              <b>are</b>
            </span>
            <span class="vertical-part">
              <b>an</b>
            </span> 
            <span class="vertical-part">
              <b>extension</b>
            </span>
            <span class="vertical-part">
              <b>to</b>
            </span> 
            <span class="vertical-part">
              <b>your</b>
            </span>
            <span class="vertical-part">
              <b>business</b>
            </span> 
            <span class="vertical-part">
              <b>and</b>
            </span>
            <span class="vertical-part">
              <b>services.</b>
            </span> 
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>take</b>
            </span> 
            <span class="vertical-part">
              <b>extra</b>
            </span>
            <span class="vertical-part">
              <b>care</b>
            </span> 
            <span class="vertical-part">
              <b>to</b>
            </span>
            <span class="vertical-part">
              <b>retain</b>
            </span> 
            <span class="vertical-part">
              <b>the</b>
            </span> 
            <span class="vertical-part">
              <b>integrity</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span> 
            <span class="vertical-part">
              <b>your</b>
            </span>
            <span class="vertical-part">
              <b>company's</b>
            </span> 
            <span class="vertical-part">
              <b>image,</b>
            </span>
            <span class="vertical-part">
              <b>and</b>
            </span> 
            <span class="vertical-part">
              <b>make</b>
            </span>
            <span class="vertical-part">
              <b>sure</b>
            </span> 
            <span class="vertical-part">
              <b>this</b>
            </span>
            <span class="vertical-part">
              <b>is</b>
            </span>
            <span class="vertical-part">
              <b>reflected</b>
            </span>
            <span class="vertical-part">
              <b>throughout</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>designs</b>
            </span>
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>produce.</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <!--img class="item-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a1232e48702241.589f548dc6bee.jpg" /-->
            <img class="item-image" src="/svg/webdev.svg" alt="" />
          </div>
          <!-- Staggered Header Elements -->
          <h1 class="item-header">
            <span class="vertical-part"><b>W</b></span>
            <span class="vertical-part"><b>e</b></span>
            <span class="vertical-part"><b>b</b></span>
            <span class="vertical-part"><b>&nbsp;</b></span>
            <span class="vertical-part"><b>D</b></span>
            <span class="vertical-part"><b>e</b></span>
            <span class="vertical-part"><b>v</b></span>
            <span class="vertical-part"><b>e</b></span>
            <span class="vertical-part"><b>l</b></span>
            <span class="vertical-part"><b>o</b></span>
            <span class="vertical-part"><b>p</b></span>
            <span class="vertical-part"><b>m</b></span>
            <span class="vertical-part"><b>e</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>t</b></span>
          </h1>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>build</b>
            </span>
            <span class="vertical-part">
              <b>world</b>
            </span>
            <span class="vertical-part">
              <b>class</b>
            </span>
            <span class="vertical-part">
              <b>products</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>businesses</b>
            </span>
            <span class="vertical-part">
              <b>on</b>
            </span>
            <span class="vertical-part">
              <b>mobile</b>
            </span>
            <span class="vertical-part">
              <b>&</b>
            </span>
            <span class="vertical-part">
              <b>web</b>
            </span>
            <span class="vertical-part">
              <b>platforms.</b>
            </span>
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>employe</b>
            </span>
            <span class="vertical-part">
              <b>a</b>
            </span>
            <span class="vertical-part">
              <b>range</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span>
            <span class="vertical-part">
              <b>technologies</b>
            </span>
            <span class="vertical-part">
              <b>with</b>
            </span>
            <span class="vertical-part">
              <b>engineering</b>
            </span>
            <span class="vertical-part">
              <b>led</b>
            </span>
            <span class="vertical-part">
              <b>approach</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>creating</b>
            </span>
            <span class="vertical-part">
              <b>top</b>
            </span>
            <span class="vertical-part">
              <b>notch</b>
            </span>
            <span class="vertical-part">
              <b>products,</b>
            </span>
            <span class="vertical-part">
              <b>users</b>
            </span>
            <span class="vertical-part">
              <b>actually</b>
            </span>
            <span class="vertical-part">
              <b>care</b>
            </span>
            <span class="vertical-part">
              <b>about.</b>
            </span>
            <span class="vertical-part">
              <b>My</b>
            </span>
            <span class="vertical-part">
              <b>skills</b>
            </span>
            <span class="vertical-part">
              <b>in</b>
            </span>
            <span class="vertical-part">
              <b>project</b>
            </span>
            <span class="vertical-part">
              <b>management</b>
            </span>
            <span class="vertical-part">
              <b>include</b>
            </span>
            <span class="vertical-part">
              <b>scrum</b>
            </span>
            <span class="vertical-part">
              <b>usability</b>
            </span>
            <span class="vertical-part">
              <b>testing</b>
            </span>
            <span class="vertical-part">
              <b>and</b>
            </span>
            <span class="vertical-part">
              <b>agile</b>
            </span>
            <span class="vertical-part">
              <b>methodologies.</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <!--img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" /-->
            <img class="item-image" src="/svg/branding.svg" alt="" />
          </div>
          <!-- Staggered Header Elements -->
          <h1 class="item-header">
            <span class="vertical-part"><b>B</b></span>
            <span class="vertical-part"><b>r</b></span>
            <span class="vertical-part"><b>a</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>d</b></span>
            <span class="vertical-part"><b>i</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>g</b></span>
          </h1>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part">
              <b>My</b>
            </span>
            <span class="vertical-part">
              <b>strategy</b>
            </span>
            <span class="vertical-part">
              <b>is</b>
            </span>
            <span class="vertical-part">
              <b>to</b>
            </span>
            <span class="vertical-part">
              <b>help</b>
            </span>
            <span class="vertical-part">
              <b>you</b>
            </span>
            <span class="vertical-part">
              <b>device</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>best</b>
            </span>
            <span class="vertical-part">
              <b>strategy</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>your</b>
            </span>
            <span class="vertical-part">
              <b>company</b>
            </span>
            <span class="vertical-part">
              <b>that</b>
            </span>
            <span class="vertical-part">
              <b>helps</b>
            </span>
            <span class="vertical-part">
              <b>you</b>
            </span>
            <span class="vertical-part">
              <b>define</b>
            </span>
            <span class="vertical-part">
              <b>a</b>
            </span>
            <span class="vertical-part">
              <b>digital</b>
            </span>
            <span class="vertical-part">
              <b>roadmap</b>
            </span>
            <span class="vertical-part">
              <b>to</b>
            </span>
            <span class="vertical-part">
              <b>achieve</b>
            </span>
            <span class="vertical-part">
              <b>your</b>
            </span>
            <span class="vertical-part">
              <b>company's</b>
            </span>
            <span class="vertical-part">
              <b>or</b>
            </span>
            <span class="vertical-part">
              <b>operational</b>
            </span>
            <span class="vertical-part">
              <b>goals.</b>
            </span>
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>strive</b>
            </span>
            <span class="vertical-part">
              <b>to</b>
            </span>
            <span class="vertical-part">
              <b>answer</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>"why"</b>
            </span>
            <span class="vertical-part">
              <b>before</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>"what"</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>a</b>
            </span>
            <span class="vertical-part">
              <b>proper</b>
            </span>
            <span class="vertical-part">
              <b>goal</b>
            </span>
            <span class="vertical-part">
              <b>definition.</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <!--img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" /-->
            <img class="item-image" src="/svg/seo.svg" alt="" />
          </div>
          <!-- Staggered Header Elements -->
          <h1 class="item-header">
            <span class="vertical-part"><b>S</b></span>
            <span class="vertical-part"><b>E</b></span>
            <span class="vertical-part"><b>O</b></span>
            <!--span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>d</b></span>
            <span class="vertical-part"><b>i</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>g</b></span-->
          </h1>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part">
              <b>My</b>
            </span>
            <span class="vertical-part">
              <b>vast</b>
            </span>
            <span class="vertical-part">
              <b>expertise</b>
            </span>
            <span class="vertical-part">
              <b>in</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>web</b>
            </span>
            <span class="vertical-part">
              <b>development</b>
            </span>
            <span class="vertical-part">
              <b>industry</b>
            </span>
            <span class="vertical-part">
              <b>has</b>
            </span>
            <span class="vertical-part">
              <b>equiped</b>
            </span>
            <span class="vertical-part">
              <b>me</b>
            </span>
            <span class="vertical-part">
              <b>with</b>
            </span>
            <span class="vertical-part">
              <b>some</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>best</b>
            </span>
            <span class="vertical-part">
              <b>strategies,</b>
            </span>
            <span class="vertical-part">
              <b>insights</b>
            </span>
            <span class="vertical-part">
              <b>and</b>
            </span>
            <span class="vertical-part">
              <b>best</b>
            </span>
            <span class="vertical-part">
              <b>practices</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span>
            <span class="vertical-part">
              <b>creating</b>
            </span>
            <span class="vertical-part">
              <b>and</b>
            </span>
            <span class="vertical-part">
              <b>implementing</b>
            </span>
            <span class="vertical-part">
              <b>effective</b>
            </span>
            <span class="vertical-part">
              <b>search</b>
            </span>
            <span class="vertical-part">
              <b>engine</b>
            </span>
            <span class="vertical-part">
              <b>optimization</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span>
            <span class="vertical-part">
              <b>websites.</b>
            </span>
            <span class="vertical-part">
              <b>Good</b>
            </span>
            <span class="vertical-part">
              <b>SEO's</b>
            </span>
            <span class="vertical-part">
              <b>help</b>
            </span>
            <span class="vertical-part">
              <b>expose</b>
            </span>
            <span class="vertical-part">
              <b>your</b>
            </span>
            <span class="vertical-part">
              <b>content</b>
            </span>
            <span class="vertical-part">
              <b>to</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>right</b>
            </span>
            <span class="vertical-part">
              <b>target</b>
            </span>
            <span class="vertical-part">
              <b>audience.</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <!--img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" /-->
            <img class="item-image" src="/svg/consultancy.svg" alt="" />
          </div>
          <!-- Staggered Header Elements -->
          <h1 class="item-header">
            <span class="vertical-part"><b>C</b></span>
            <span class="vertical-part"><b>o</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>s</b></span>
            <span class="vertical-part"><b>u</b></span>
            <span class="vertical-part"><b>l</b></span>
            <span class="vertical-part"><b>t</b></span>
            <span class="vertical-part"><b>a</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>c</b></span>
            <span class="vertical-part"><b>y</b></span>
          </h1>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part">
              <b>I</b>
            </span>
            <span class="vertical-part">
              <b>understand</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>nuances</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>both</b>
            </span>
            <span class="vertical-part">
              <b>consumer</b>
            </span>
            <span class="vertical-part">
              <b>as</b>
            </span>
            <span class="vertical-part">
              <b>well</b>
            </span>
            <span class="vertical-part">
              <b>as</b>
            </span>
            <span class="vertical-part">
              <b>enterprise</b>
            </span>
            <span class="vertical-part">
              <b>needs</b>
            </span>
            <span class="vertical-part">
              <b>of</b>
            </span>
            <span class="vertical-part">
              <b>online</b>
            </span>
            <span class="vertical-part">
              <b>and</b>
            </span>
            <span class="vertical-part">
              <b>digital</b>
            </span>
            <span class="vertical-part">
              <b>presence.</b>
            </span>
            <span class="vertical-part">
              <b>Both</b>
            </span>
            <span class="vertical-part">
              <b>have</b>
            </span>
            <span class="vertical-part">
              <b>different</b>
            </span>
            <span class="vertical-part">
              <b>objectives</b>
            </span>
            <span class="vertical-part">
              <b>hence</b>
            </span>
            <span class="vertical-part">
              <b>different</b>
            </span>
            <span class="vertical-part">
              <b>approaches</b>
            </span>
            <span class="vertical-part">
              <b>must</b>
            </span>
            <span class="vertical-part">
              <b>be</b>
            </span>
            <span class="vertical-part">
              <b>taken</b>
            </span>
            <span class="vertical-part">
              <b>in</b>
            </span>
            <span class="vertical-part">
              <b>pursuit</b>
            </span>
            <span class="vertical-part">
              <b>for</b>
            </span>
            <span class="vertical-part">
              <b>the</b>
            </span>
            <span class="vertical-part">
              <b>most</b>
            </span>
            <span class="vertical-part">
              <b>effective</b>
            </span>
            <span class="vertical-part">
              <b>strategies.</b>
            </span>
          </div>
        </div>
      </div>
      <div class="btn__arrows">
        <button type="button">
          <img class="svg2" src="/svg/left-arrow-back-svgrepo-com.svg" alt="" />
        </button>
        <button type="button">
          <img class="svg2" src="/svg/right-arrow-next-svgrepo-com.svg" alt="" />
        </button>
      </div>
      <div class="controls">
        <ul>
          <li class="control" data-index="0"></li>
          <li class="control" data-index="1"></li>
          <li class="control" data-index="2"></li>
          <li class="control" data-index="3"></li>
          <li class="control" data-index="4"></li>
        </ul>
      </div>
    </div>
  </div>

  <!--script src="js/main.js"></script-->
  <script src="js/service.js"></script>
</body>
</html>
